 

.storyContainer {
     display:flex;
    align-items: center;
    flex-direction: row ;
    width: 100%;
    height: auto;
    max-width: 1140px;
    margin: auto;
    
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start
    }
  }
 
  .storyCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 70%;
    background:white;
    padding: 15px;
    position: relative;
    top: -50px;
    width: 70%;
   
    @media screen and (min-width: 901px) {
      left: -10%;
      top: 0px;
      flex: 1 1 30%;
    }
  }

  .title {
    color:rgb(187, 187, 187);
    font-size: 0.7rem;
    text-align: left;
}
  .imageContainer {
    position: relative;
    flex: 1 1 80%;
  }
  
  .img {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
  }

  .color {
    color: var(--primary-btn-color);
    cursor: pointer;
    text-align: left;
  }

  .color:hover {
    filter: brightness(0.8)
  }